<figure class="Perfil">
    <p><img class="logo" src="assets/img/Perfil.png" alt="logo"></p>
    <figcaption class="Legenda_img1"><h1>Afonso Rafael Moraes Simão</h1></figcaption>
</figure>

<h1><strong>Sobre mim!</strong></h1>

<h3>Prazer!</h3>

<h4>Me chamo Afonso, aqui esta um pouco sobre mim e minhas conquistas.</h4>

<p>Sou um profissional com mais de 3 anos de experiencia na área de suporte técnico e desenvolvimento nas linguagem e tecnologias .Net, C#, ASP.Net, MVC, API, bootstrap, Angular, React, PHP, CSS, HTML5 e muito mais.</p>

<p>Já participei de alguns bootcamps, hackatons, meetups e fez uma publicação científica no Congresso Internacional de Tecnologia (CIAT) onde abortem sobre literaturas de processos e métodos de fabricação de software BPMN e VBPMN.</p>

<p>Tenho certificações iniciais na área de segurança da informação, estas são Ethical Hacking Essential, Computer Forensics e InfoSec Foundation, ainda tenho me empenhado para tirar as certificações BSTQB (Teste e qualidade de software) e Oracle Database 10g Administrator OCA (Banco de dados Oracle). </p>

<p>Também escrevo artigos no LinkedIn falando sobre temas pertinentes ao início da carreira como programador, especificamente para quem está iniciando na carreira entre outros trabalhos voluntários. </p>

<p>Qualquer dúvida estou a disposição.</p>


<p><i>Aponte a camera do seu celular para ir a uma das minhas rede sociais.</i></p>

<figure class="LinkedIn">
    <p><img class="logo_LinkedIn" src="assets/img/QRCode_LinkedIn.png" alt="logo_LinkedIn"></p>
    <figcaption>LinkedIn</figcaption>
</figure>
<figure class="GitHub">
    <p><img class="logo_GitHub" src="assets/img/QRCode_GitHub.png" alt="logo_GitHub"></p>
    <figcaption>GitHub</figcaption>
</figure>

